{% extends "base.html" %}

{% block title %}首页-迈傲数据{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <div id="chart" class="col-md-12" style="width: 100%; height: 600px;"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var myChart = echarts.init(document.getElementById('chart'), 'dark');
        myChart.setOption({
            title: {
                text: 'POI类型采集覆盖统计'
            },
            tooltip: {},
            legend: {
                data: 'POI类型'
            },
            xAxis: {},
            yAxis: {},
            series: [{
                name: 'POI类型',
                type: 'bar',
                data: []
            }]
        });
        var oui = new Array();
        var count = new Array();
        $.get('/api/v1.0/poi/type').done(function (data) {
            $.each(data, function (name, object) {
                $.each(object, function (key, value) {
                    //alert(name + key + value.phone + value.saled)
                    oui[key] = value.type;
                    count[key] = value.count;
                });
            });
            myChart.setOption({
                xAxis: {
                    type: 'value',
                    boundaryGap: [0, 0.01],
                },
                yAxis: {
                    type: 'category',
                    position: 'right',
                    axisLabel: {
                        textStyle: {
                            fontSize: 7,
                        },
                    },
                    data: oui,
                    inverse: true
                },
                series: [{
                    label: {
                        normal: {
                            show: true,
                            position: 'right',
                            textStyle: {
                                fontSize: 8,
                            }
                        }
                    },
                    data: count
                }]
            });
        });
    </script>
{% endblock %}